<!-- <div class="container-fluid">
    <div class="row">
        <div class="card card-body bg-primary footer">
            Proverbs 19:7 - 
                Whoever is kind to the poor lends to the LORD,
                and he will reward them for what they have done. 
        </div>
    </div>
</div> -->

<div class="card text-center bg-primary footer">
    <div class="card-footer">
        Proverbs 19:7 - 
        Whoever is kind to the poor lends to the LORD,
        and he will reward them for what they have done. 
    </div>
</div>
