<div 
    class="container overflow-auto"
    data-bs-spy="scroll" 
    data-bs-target="#navbar-example">
    <div class="row" data-bs-spy="scroll" data-bs-target="#navbar-example">

        <div class="row" >

            <div 
                class="card border border-white"
                style="text-align: center;">
                <div class="card-body">
                    <p><a href="https://pay.yoco.com/r/4q6d0j">R2 Donation for Keller</a></p>
                    <p><a href="https://pay.yoco.com/cross-dev">Any Amount Donation for Keller</a></p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Ukraine Support</h5>
                  <p class="card-text">Ukraine support ...</p>
                  <a href="https://pay.yoco.com/cross-dev" class="btn btn-primary">Donate</a>
                  <p class="card-text">Donation Reference: us20220322</p>
                </div>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Child Support</h5>
                  <p class="card-text"> Child support ...</p>
                  <a href="https://pay.yoco.com/cross-dev" class="btn btn-primary">Donate</a>
                  <p class="card-text">Donation Reference: cs20220322</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Animal Support</h5>
                    <p class="card-text">Animal Support ...</p>
                    <a href="https://pay.yoco.com/cross-dev" class="btn btn-primary">Donate</a>
                    <p class="card-text">Donation Reference: as20220322</p>
                  </div>
                </div>
            </div>
          
        <!-- <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        Banking Details
                    </div>
                    <div class="card-body">
                        <p>Banking Details<br>
                            Bank Name: Capitec<br>
                            Bank Code: 470010 <br>
                            Bank Swift: CABLZAJJ<br>
                            Account Name: Petrus Keller<br>
                            Account Number: 1178616833<br>
                            Donation Reference: Use project reference.
                        </p>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>

    